/*Javascript-basics CSS Styles */
/* Global Defaults Reset*/
* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

/* Variables */
:root {
    --dark-bg-color: black;
    --light-bg-color: white;
    --light-text-color: white;
    --dark-text-color: black;
    --secondary-color: #F7E025;
}

/* Global Styles */
button {
    padding: 0px 10px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Header */
header {
    background-color: var(--dark-bg-color);
    padding: 15px 200px 20px;
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo_nav_bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h3 {
    font-size: 16px;
    align-self: center;
}

.logo {
    display: flex;
    gap: 5px;
}

.nav__link:link, .nav__link:visited {
    color: var(--light-text-color);
    text-decoration: none;
}

.nav__link:hover, .nav__link:active {
    color: var(--light-text-color);
    text-decoration: underline;
}

.page__title {
    text-align: center;
    padding-bottom: 20px;
}

/* FizzBuzz Section */
.fizzbuzz {
    background-color: var(--dark-bg-color);
    padding: 15px 200px 20px;
    color: var(--light-text-color);
    display: flex;
    gap: 30px;
}

.fb {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_button {
    width: 400px;
    display: flex;
    gap: 10px;
}

.fb.right input {
    padding-left: 5px;
    border: none;
}

.results {
    height: 150px;
    width: 400px;
    padding: 5px;
    background-color:var(--light-bg-color);
    overflow-y: auto;
    color: var(--dark-text-color)
}

/* Rock, Paper, Scissors Section */
.rps__main {
    background-color: var(--dark-bg-color);
    padding: 15px 200px 20px;
    color: var(--light-text-color);
    display: flex;
    gap: 30px;
}

.rps {
    flex: 1;
    display: flex;
    /* gap: 40px; */
}

.rps.left {
    flex-direction: column;
    gap: 10px;
}

.rps.right {
    gap: 40px;
}

.rps__game {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rps__output {
    height: 150px;
    width: 250px;
    padding: 5px;
    background-color:var(--light-bg-color);
    overflow-y: auto;
    color: var(--dark-text-color)
}

.rps__controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.rps__controls button:disabled {
    opacity: 0;
    cursor: default;
}

.rps__history {
    height: 150px;
    width: 100px;
    padding: 5px;
    background-color:var(--light-bg-color);
    overflow-y: auto;
    color: var(--dark-text-color)
}

.rps__reset {
    align-items: center;
}